

/*propriedades do texto*/
p{
    color: red;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    
}

body{
    background-color:whitesmoke;
    font-family: 'Lemonada', cursive;
}

h1{
    text-align: center;
}

hr{
    border-top: 3px dashed red;
}

a{
    text-decoration: none; color: green;
}

a:hover{
    color:blue;
    text-decoration: underline;
}

.cor_verde{
    color:green;
}

#cor_azul{
    color:blue;
}


